* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: rgba(234, 240, 246, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
}
.Outlet {
  padding-top: 70px;
}
.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  padding: 15px;
  display: flex;
  position: fixed;
  justify-content: flex-end;
}
.nav-div {
  margin-right: 80px;
  display: flex;
  align-items: center;
}
.nav-div div{
  margin-left: 10px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 5px;
}
.home-container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}
.header h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}
.header button {
  padding: 12px;
  padding-right: 20px;
  background-color: rgba(98, 77, 227, 1);
  outline: none;
  border: 2px rgba(98, 77, 227, 1) solid;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.header button > div {
  margin-right: 10px;
  margin-left: 10px;
}
.header button:hover {
  background-color: rgba(100, 71, 255, 1);
}
.table-container {
  padding: 10px;
}
.table-top {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table-top > .checkbox-container {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 120px;
  justify-content: space-between;
  border: 2px rgba(183, 184, 235, 1) solid;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
}
.checkbox:hover {
  background-color: rgba(183, 184, 235, 1);
}
.search-input {
  border: 2px rgba(183, 184, 235, 1) solid;
  padding: 10px;
  outline: none;
  border-radius: 20px;
}
/* .search-input:hover {
  background-color: rgba(234, 240, 246, 0.45);
} */
.search-input > input {
  border: none;
  margin-left: 10px;
  outline: none;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
td {
  border-bottom: 1px solid #f7f4f4;
  color: rgba(82, 95, 127, 1);
  font-size: 14px;
}

th {
  background-color: rgba(234, 240, 246, 1);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.delete-th,
.delete-td {
  padding: 8px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.delete-td > button {
  border: 2px rgba(97, 119, 152, 0.45) solid;
  background-color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 5px;
  text-align: center;
}
.delete-td > button:hover {
  border: 2px rgba(255, 219, 222, 1) solid;
  color: rgba(255, 74, 90, 1);
}
h2 > b {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(82, 95, 127, 1);
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 35, 75, 0.6);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.modal-div {
  padding: 50px;
  text-align: center;
}
.modal-div h2 {
  color: rgba(255, 74, 90, 1);
}
.modal-div p {
  padding-top: 20px;
  padding-bottom: 20px;
}
.notification {
  position: fixed;
  top: 80px;
  right: 40%;
  background-color: white;
  color: rgba(82, 95, 127, 1);
  border-radius: 10px;
  padding: 20px;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-content button {
  background: none;
  border: none;
  color: rgba(82, 95, 127, 1);
  cursor: pointer;
  margin-left: 10px;
}
.notification-content button:hover {
  background: rgba(236, 237, 242, 1);
  color: rgba(82, 95, 127, 1);
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
}
.modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-buttons .delete {
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 5px;
  background-color: rgba(255, 74, 90, 1);
  outline: none;
  border: none;
  color: white;
  border-radius: 20px;
  display: flex;
}
.modal-buttons .delete:hover {
  background-color: rgba(255, 58, 80, 1);
}
.modal-buttons .cancel {
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 5px;
  background-color: white;
  outline: none;
  border: 2px rgba(97, 119, 152, 0.45) solid;
  color: rgba(97, 119, 152, 1);
  border-radius: 20px;
  display: flex;
}
.modal-buttons .cancel:hover {
  background-color: rgba(234, 240, 246, 1);
}

@media (max-width: 768px) {
  .home-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header h2 {
    font-size: 22px;
  }

  .header button {
    padding: 10px;
    padding-right: 15px;
    font-size: 14px;
  }

  .table-top {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .table-top > .checkbox-container {
    display: flex;
    justify-content: left;
    margin-top: 15px;
  }
  .search-input {
    border-radius: 20px;
    width: 90%;
  }
  .modal-content {
    background-color: white;
    padding: 15px;
    width: 350px;
  }
  .search-input > input {
    font-size: 14px;
    width: 90%;
  }
  table {
    /* width: 100%; */
  }

  th,
  td {
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    font-size: 14px;
  }

  th {
    font-size: 14px;
  }
  .nav-bar {
    padding: 15px;
  }
  .nav-div {
    margin-right: 30px;
  }
  .nav-div h3 {
    font-size: 20px;
  }
  .notification {
  top: 80px;
  right: 20%;
  padding: 20px;
}

}
@media (max-width: 400px) {
  .home-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
